  .container {
    min-height: 100vh;
    background-color: #0f1b3d;
  }
  
  .main {
    margin-left: 2rem;
  }
  
  .boxWrapper {
    display: flex;
    gap: 1.5rem;
    margin: 2rem; 
    height: 30rem;
  }
  
  .whiteBox {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    flex: 3;
    color: black;
  }
  
  .greyBox {
    background-color: #d1d5db; 
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
    color: black;
  }  

  .whiteBoxMini {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    flex: 3;
    color: black;
    margin-bottom: 1.5rem;
  }

  .eventBoxText {
    color: black;
  }